//footer
.super-footer{
    width: calc(100% - 193px) !important;
    max-width: calc(1680px - 200px) !important;
    margin: 20px auto !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}