//footer
.super-footer{
    width: calc(100% - 193px) !important;
    max-width: calc(1680px - 200px) !important;
    margin: 20px auto !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    background: var(--color-callout-background) !important;
    backdrop-filter: blur(10px) !important;
    color: var(--color-text-default) !important;
    border-radius: 20px !important;
}

//links
.super-footer.floating .super-footer__links a.super-footer__link{
    font-size: 0.9rem !important;
    text-transform: uppercase !important;
    letter-spacing: 0.102rem !important;
    font-family: "ClashGrotesk-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    padding: 0 !important;
    display: flex !important;
    gap: 2rem !important;
}
.super-footer.floating .super-footer__links a.super-footer__link:hover p{
    color: var(--color-link-default) !important;
}

.super-footer__footnote{
    color: var(--color-paragraph-default) !important;
}

@media (max-width: 546px){
    .super-footer{
        width: 100% !important;
        max-width: 100% !important;
        border-radius: 0px !important;
    }
}