//header

.notion-header__cover.has-cover {
    position: absolute !important;
    width: 100% !important;
    top: 0 !important;
    margin-top: -20px !important;
    height: 60vh !important;
    max-height: 60vh !important;
    z-index: -2 !important;
    opacity: .5 !important;
}

.notion-header__cover.no-cover {
    display: none!important;
}

.notion-header__cover:after, .footer-cover:before {
    content: ""!important;
    position: absolute!important;
    z-index: 1!important;
    bottom: -2px!important;
    left: 0!important;
    background-image: var(--theme-gradient)!important;
    width: 100%!important;
    height: 100%!important;
}

.notion-header__title{
    display: none !important;
}
