//navigation
.super-navbar{
    width: calc(100% - 193px) !important;
    max-width: calc(1680px - 200px) !important;
    height: 65px !important;
    margin: 20px auto !important;
    padding: 0px 0px !important;
    transition: box-shadow .2s ease-in-out !important;
    background: var(--color-bg-transparent-default) !important;
    color: var(--color-text-default) !important;
}
.super-navbar__content{
    padding-left: 0px !important;
}

.super-navbar .super-navbar__content .super-navbar__item-list .super-navbar__item{
    font-size: 0.9rem !important;
    text-transform: uppercase !important;
    font-family: "ClashGrotesk-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    letter-spacing: 0.102rem !important;
}

.super-navbar__cta{
    text-transform: uppercase !important;
    font-family: "ClashGrotesk-Semibold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 0.9rem !important;
    letter-spacing: 0.102rem !important;
    color: var(--color-cta-text) !important;
    background: var(--color-cta-background) !important;

}

/* .super-navbar__menu-wrapper{
     width: calc(100% - 193px) !important;
    max-width: calc(1680px - 200px) !important;
    margin: 0 auto !important;
    padding-right: 0 !important;
    padding-top: 30px !important;
} */


.super-navbar__logo{
    padding: 0px !important;
}

.super-navbar__button{
    height: 100% !important;
    cursor: pointer !important;
    align-items: center !important;
    justify-content: center !important;
    display: none !important;
    opacity: 0.5 !important;
    transition: opacity .3s ease-in-out !important;
}

/* .super-navbar__menu{
    border-radius: 20px !important;
    border: 1px solid var(--color-border-default) !important;
    color: var(--color-text-default) !important;
    background: var(--color-bg-default) !important;

} */

//hamburger menu
.super-navbar__menu-wrapper {
    display: none !important;
    transition: all 0.3s ease !important;
  }
  
  .super-navbar__menu-wrapper.open {
    display: block !important;
  }
  
  .super-navbar__menu-wrapper.enter-done {
    display: block !important;
  }

  .super-navbar__menu-close{
    align-items: flex-start !important;
  }


//toggle light and dark theme
.toggle-switch{
    width: 22px !important;
    height: 22px !important;
    transition: all .3s ease-in-out !important;
    opacity: 0.5 !important;
    cursor: pointer !important;
    margin-right: 25px !important;
    margin-left: -10px !important;
}

.dark-mode-icon svg, .light-mode-icon svg{
    height: 22px !important;
    width: 22px !important;
}

//theme blackout

.theme-blackout .light-mode-icon svg, .theme-blackout .super-navbar__button svg{
    fill: var(--color-text-default) !important;
}


.theme-blackout .dark-mode-icon{
    display: none !important;
}

.theme-blackout .light-mode-icon{
    display: flex !important;
}

.theme-blackout .super-navbar__button{
    stroke: var(--color-text-default) !important;
}



//theme default

.theme-default .dark-mode-icon svg, .theme-default .super-navbar__button svg{
    fill: var(--color-text-default) !important;
}

.theme-default .dark-mode-icon{
    display: flex !important;
}

.theme-default .light-mode-icon{
    display: none !important;
}

.theme-default .super-navbar__button{
    stroke: var(--color-text-default) !important;
}



@media (max-width: 546px){
    .super-navbar{
        width: calc(100% - 40px) !important;
    }
    .super-navbar__button{
        display: flex !important;
    }

}
