//navigation
.super-navbar{
    /* width: calc(100% - 193px) !important; */
    max-width: (1680px - 200px) !important
    height: 65px !important;
    margin: 20px auto !important;
    padding: 0px 0px !important;
    transition: box-shadow .2s ease-in-out !important;
    background: var(--color-bg-transparent-default) !important;
    color: var(--color-text-default) !important;
}
.super-navbar__content{
    padding-left: 0px !important;
}

.super-navbar__logo{
    padding: 0px !important;
}

.super-navbar__button{
    height: 100% !important;
    cursor: pointer !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    opacity: 0.5 !important;
    transition: opacity .3s ease-in-out !important;
}

.theme-switch{
    width: 22px !important;
    height: 22px !important;
    transition: all .3s ease-in-out !important;
    opacity: 0.5 !important;
    cursor: pointer !important;
    /* margin-right: 25px !important;
    margin-left: -10px !important; */
}

.dark-mode-icon svg, .light-mode-icon svg{
    height: 22px !important;
    width: 22px !important;
}

//theme blackout

.theme-blackout .light-mode-icon svg, .theme-blackout .super-navbar__button svg{
    fill: var(--color-text-default) !important;
}


.theme-blackout .dark-mode-icon{
    display: none !important;
}

.theme-blackout .light-mode-icon{
    display: flex !important;
}

.theme-blackout .super-navbar__button{
    stroke: var(--color-text-default) !important;
}



//theme default

.theme-default .dark-mode-icon svg, .theme-default .super-navbar__button svg{
    fill: var(--color-text-default) !important;
}

.theme-default .dark-mode-icon{
    display: flex !important;
}

.theme-default .light-mode-icon{
    display: none !important;
}

.theme-default .super-navbar__button{
    stroke: var(--color-text-default) !important;
}

//hamburger menu

/* .notion-dropdown__menu-header, .notion-dropdown__option-icon, .notion-dropdown__button svg:first-of-type {
        display: none !important; 
} */

.notion-dropdown{
    width: 100% !important;
}

.notion-dropdown__button{
    justify-content: space-between !important;
    width: 100% !important;
    border: 1px solid var(--color-border-default) !important;
    padding: 10px !important;
    border-radius: 8px !important;
}


@media (max-width: 546px){
    .super-navbar{
        width: calc(100% - 40px) !important;
    }

}
