@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap");
.theme-blackout body {
  --color-bg-default: rgb(32, 32, 32) !important;
  --theme-gradient: linear-gradient(to bottom, rgba(32, 32, 32, 0), rgba(32, 32, 32, 1) 98%) !important;
  /* --color-border-default: hsla(0,0%,100%,.1) !important; */
  --color-border-default: hsl(0deg 0% 43% / 10%) !important;
  --color-bg-transparent-default: rgb(255, 255, 255, 0) !important;
  --color-text-default: hsl(0, 0%, 93%) !important;
  --color-date-default: rgb(152, 144, 144) !important;
  --color-link-default: rgb(208, 106, 78) !important;
  --color-hover-default: linear-gradient(to bottom, rgba(32, 32, 32, 0), rgb(208 106 78 / 10%) 98%) !important;
  --color-cta-background: rgb(237, 237, 237) !important;
  --color-cta-text: rgb(32, 32, 32) !important;
  --color-boxshadow-default: rgb(208 106 78 / 10%) 0px 10px 30px -10px, rgb(32 32 32 / 30%) 0px 10px 60px -50px !important;
  --color-hovershadow-default: rgba(229 144 74 / 20%) 0px 10px 30px -10px, rgb(32 32 32 / 30%) 0px 10px 60px -50px !important;
  --scrollbar-thumb-color: rgba(110, 110, 110, 0.1) !important;
}

.theme-default body {
  --color-bg-default: rgb(237, 237, 237) !important;
  --theme-gradient: linear-gradient(to bottom, rgba(237, 237, 237, 0), rgba(237, 237, 237, 1) 98%)!important;
  --color-border-default: hsla(0, 0%, 62%, 0.1) !important;
  --color-bg-transparent-default: rgb(0, 0, 0, 0) !important;
  --color-text-default: rgb(32, 32, 32) !important;
  --color-date-default: rgb(178, 178, 178) !important;
  --color-link-default: rgb(149, 75, 54) !important;
  --color-hover-default: linear-gradient(to bottom, rgba(237, 237, 237, 0), rgb(208 106 78 / 10%) 98%)!important;
  --color-cta-background: rgb(32, 32, 32) !important;
  --color-cta-text: rgb(237, 237, 237) !important;
  --color-boxshadow-default: rgb(208 106 78 / 16%) 0px 10px 36px 0px, rgb(208 106 78 / 6%) 0px 0px 0px 1px !important;
  --color-hovershadow-default: rgb(38 44 59 / 4%) 0px 5.6347px 10.0172px 0px, rgb(228 221 59 / 4%) 0px 10.0513px 17.869px 0px, rgb(38 44 59 / 5%) 0px 18.7999px 33.4221px 0px, rgb(208 106 78 / 7%) 0px 45px 80px 0px !important;
  --scrollbar-thumb-color: rgba(158, 158, 158, 0.1) !important;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box !important;
}

/*
  2. Remove default margin
*/
/*
* {
  margin: 0 !important;
}*/
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100% !important;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5 !important;
  position: relative !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block !important;
  max-width: 100% !important;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit !important;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word !important;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate !important;
}

:root {
  --font-size-1: 1.25rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --font-size-5: 3rem;
  --font-size-6: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lexend", sans-serif !important;
}

h1.notion-heading {
  font-size: var(--font-size-6) !important;
  font-weight: 500 !important;
  line-height: 1em !important;
  padding-bottom: 1rem !important;
}

h1.notion-heading strong, h2.notion-heading strong, h3.notion-heading strong {
  font-weight: 500 !important;
}

h2.notion-heading {
  font-size: var(--font-size-4) !important;
}

h3.notion-heading {
  font-size: var(--font-size-2) !important;
}

.notion-header__cover.has-cover {
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
  margin-top: -20px !important;
  height: 60vh !important;
  max-height: 60vh !important;
  z-index: -2 !important;
  opacity: 0.5 !important;
}

.notion-header__cover.no-cover {
  display: none !important;
}

.notion-header__cover:after, .footer-cover:before {
  content: "" !important;
  position: absolute !important;
  z-index: 1 !important;
  bottom: -2px !important;
  left: 0 !important;
  background-image: var(--theme-gradient) !important;
  width: 100% !important;
  height: 100% !important;
}

.notion-header__title {
  display: none !important;
}

.super-navbar {
  width: calc(100% - 193px) !important;
  height: 65px !important;
  margin: 20px auto !important;
  padding: 0px 0px !important;
  transition: box-shadow 0.2s ease-in-out !important;
  background: var(--color-bg-transparent-default) !important;
  color: var(--color-text-default) !important;
}

.super-navbar__content {
  padding-left: 0px !important;
}

.super-navbar__logo {
  padding: 0px !important;
}

.theme-switch {
  width: 22px !important;
  height: 22px !important;
  transition: all 0.3s ease-in-out !important;
  /* margin-right: 25px !important;
  margin-left: -10px !important; */
}

.dark-mode-icon svg, .light-mode-icon svg {
  height: 22px !important;
  width: 22px !important;
}

.theme-blackout .light-mode-icon svg, .theme-blackout .super-navbar__button svg {
  fill: var(--color-text-default) !important;
}

.theme-blackout .dark-mode-icon {
  display: none !important;
}

.theme-blackout .light-mode-icon {
  display: flex !important;
}

.theme-default .dark-mode-icon svg, .theme-default .super-navbar__button svg {
  fill: var(--color-text-default) !important;
}

.theme-default .dark-mode-icon {
  display: flex !important;
}

.theme-default .light-mode-icon {
  display: none !important;
}

/* .notion-dropdown__menu-header, .notion-dropdown__option-icon, .notion-dropdown__button svg:first-of-type {
        display: none !important; 
} */
.notion-dropdown {
  width: 100% !important;
}

.notion-dropdown__button {
  justify-content: space-between !important;
  width: 100% !important;
  border: 1px solid var(--color-border-default) !important;
  padding: 10px !important;
  border-radius: 8px !important;
}

.notion-toggle {
  border: 1px solid var(--color-border-default) !important;
  border-radius: 5px !important;
  text-align: left !important;
  margin: -0.5px !important;
  position: relative !important;
}

.notion-toggle-heading-3 > .notion-toggle__summary {
  margin-top: 0px !important;
}

.notion-toggle__summary::before {
  position: absolute !important;
  right: 20px !important;
  opacity: 0.4 !important;
  content: "+" !important;
}

.notion-toggle[open] > summary::before {
  content: "-" !important;
}

.notion-toggle__summary:hover:before {
  background: none !important;
  opacity: 1 !important;
}

.notion-toggle__summary {
  padding: 25px 70px 25px 0px !important;
}

.notion-toggle__trigger {
  margin-right: 25px !important;
}

.notion-toggle__trigger_icon {
  display: none !important;
}

.notion-toggle__content {
  padding: 0px 30px 20px 30px !important;
  background: var(--color-hover-default) !important;
}

.super-content.max-width {
  margin: auto !important;
}

.max-width {
  max-width: 1280px !important;
}

.notion-collection__header-wrapper {
  justify-content: center !important;
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;
}

.notion-collection__header {
  text-transform: uppercase !important;
}

.notion-image.page-width img {
  border-radius: 5px !important;
}

thead.notion-collection-table__head {
  border: none !important;
}

tbody.notion-collection-table__body {
  display: flex !important;
  flex-direction: row !important;
  gap: 2rem !important;
}

.notion-collection-table {
  display: flex !important;
  justify-content: center !important;
  table-layout: unset !important;
  border-top: none !important;
  border-collapse: unset !important;
}

.notion-collection-table__wrapper {
  overflow: unset !important;
}

.notion-collection-table tr {
  /*display: table-cell !important;*/
  flex-basis: 100% !important;
  width: 20% !important;
  padding: 2rem !important;
  border-collapse: inherit !important;
  border: 1px solid var(--color-border-default) !important;
  border-radius: 5px !important;
}

.notion-collection-table th {
  border: none !important;
}

.notion-collection-table td {
  border: none !important;
  display: flex !important;
  text-align: center !important;
}

.notion-collection-table td,
.notion-collection-table th {
  justify-content: center !important;
  height: auto !important;
  overflow: unset !important;
}

.notion-collection-table__head-cell {
  display: none !important;
}

.notion-collection-table__cell .notion-semantic-string {
  white-space: inherit !important;
  overflow: inherit !important;
}

.notion-property.notion-property__file.property-63756178 a div {
  width: 150px !important;
  height: 150px !important;
}
.notion-property.notion-property__file.property-63756178 a div img {
  border-radius: 5px !important;
}

.notion-collection-gallery {
  gap: 3rem !important;
}

.notion-collection-gallery.medium {
  display: flex !important;
  flex-direction: column !important;
}

.notion-collection-card {
  display: flex !important;
  border: 1px solid var(--color-border-default) !important;
  padding: 2rem !important;
  background: none !important;
  box-shadow: var(--color-boxshadow-default) !important;
}

.notion-collection-card:hover {
  box-shadow: var(--color-hovershadow-default) !important;
  transition: box-shadow 0.5s ease-in-out !important;
}

.notion-collection-card__cover {
  border-radius: 5px !important;
  flex: 0 0 225px !important;
  min-height: 220px !important;
  height: 220px !important;
  margin: 0 40px 0 0 !important;
  min-width: 0px !important;
}

.notion-collection-card__content {
  width: 0px !important;
  flex: 1 1 0% !important;
}

.notion-collection-card__property:nth-child(2) {
  font-size: var(--font-size-2) !important;
  font-weight: 600 !important;
}

.notion-property__date {
  font-size: 12px !important;
}
.notion-property__date span {
  color: var(--color-date-default) !important;
}

.gallery .notion-collection-card__property .notion-semantic-string {
  overflow: unset !important;
  white-space: inherit !important;
}

.notion-collection-card__property:nth-child(3) {
  margin: 16px 0 0 !important;
  font-size: 1rem !important;
}

.notion-collection-card__property:nth-child(4) {
  font-size: 1rem !important;
  font-weight: 600 !important;
  margin: 16px 0 0 !important;
}

.notion-collection-gallery.small {
  grid-template-columns: repeat(3, 1fr) !important;
}
.notion-collection-gallery.small .notion-collection-card {
  display: flex !important;
  flex-direction: column !important;
}
.notion-collection-gallery.small .notion-collection-card .notion-collection-card__content {
  width: auto !important;
}

.notion-semantic-string .link {
  border: none !important;
  /* opacity: .5 !important; */
  color: var(--color-link-default) !important;
}
.notion-semantic-string .link :hover {
  opacity: 1 !important;
}

::selection {
  background: var(--color-link-default) !important;
  opacity: 0.5 !important;
}

html ::-webkit-scrollbar {
  width: 10px !important;
  background-color: var(--color-bg-default) !important;
  border: none !important;
}
html ::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-radius: 10px !important;
}
html ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color) !important;
  border-radius: 50px !important;
  border: 4px solid transparent !important;
}

@media (max-width: 600px) {
  tbody.notion-collection-table__body {
    flex-direction: column !important;
  }
  .notion-collection-table tr {
    width: 100% !important;
  }
  .notion-collection-card {
    display: block !important;
  }
  .notion-collection-card__content {
    width: auto !important;
  }
}/*# sourceMappingURL=main.css.map */