//colors
.theme-blackout body{
    --color-bg-default: rgb(32, 32, 32) !important;
    --theme-gradient: linear-gradient(to bottom, rgba(32, 32, 32, 0), rgba(32, 32, 32, 1) 98%) !important;
    /* --color-border-default: hsla(0,0%,100%,.1) !important; */ 
    --color-border-default: hsl(0deg 0% 43% / 10%) !important;
    --color-bg-transparent-default: rgb(255, 255, 255, 0) !important;
    --color-text-default: hsl(0, 0%, 93%) !important;
    --color-date-default: rgb(152, 144, 144) !important;
    --color-link-default: rgb(208, 106, 78) !important;
    --color-hover-default: linear-gradient(to bottom, rgba(32, 32, 32, 0), rgb(208 106 78 / 10%) 98%) !important;
    --color-cta-background: rgb(237, 237, 237) !important;
    --color-cta-text: rgb(32, 32, 32) !important;
    --color-boxshadow-default: rgb(208 106 78 / 10%) 0px 80px 20px -80px, rgb(0 0 0 / 30%) 0px 30px 60px -30px !important;
    --color-hovershadow-default: rgb(208 106 78 / 15%) 0px 80px 20px -80px, rgb(0 0 0 / 30%) 0px 30px 60px -30px !important;
}

.theme-default body{
    --color-bg-default: rgb(237, 237, 237) !important;
    --theme-gradient: linear-gradient(to bottom, rgba(237, 237, 237, 0), rgba(237, 237, 237, 1) 98%)!important;
    --color-border-default: hsla(0, 0%, 62%, 0.1) !important;
    --color-bg-transparent-default: rgb(0, 0, 0, 0) !important;
    --color-text-default: rgb(32, 32, 32) !important;
    --color-date-default: rgb(178, 178, 178) !important;
    --color-link-default: rgb(149, 75, 54) !important;
    --color-hover-default: linear-gradient(to bottom, rgba(237, 237, 237, 0), rgb(208 106 78 / 10%) 98%)!important;
    --color-cta-background: rgb(32, 32, 32) !important;
    --color-cta-text: rgb(237, 237, 237) !important;
    --color-boxshadow-default: rgb(208 106 78 / 16%) 0px 10px 36px 0px, rgb(208 106 78 / 6%) 0px 0px 0px 1px !important;
    --color-hovershadow-default: rgb(38 44 59 / 4%) 0px 5.6347px 10.0172px 0px, rgb(228 221 59 / 4%) 0px 10.0513px 17.869px 0px, rgb(38 44 59 / 5%) 0px 18.7999px 33.4221px 0px, rgb(208 106 78 / 7%) 0px 45px 80px 0px !important;
}