.notion-toggle{
    border: 1px solid var(--color-border-default) !important;
    border-radius: 5px !important;
    text-align: left !important;
    margin: -0.5px !important;
    position: relative !important;
}

.notion-toggle-heading-3 > .notion-toggle__summary{
    margin-top: 0px !important;
}

.notion-toggle__summary::before{
    position: absolute !important;
    right: 20px !important;
    opacity: 0.4 !important;
    content: "+" !important;
}

.notion-toggle[open]>summary::before{
    content: "-" !important;
}

.notion-toggle__summary:hover:before{
    background: none !important;
    opacity: 1 !important;
}

.notion-toggle__summary{
    padding: 25px 70px 25px 0px !important;
}

.notion-toggle__trigger{
    margin-right: 25px !important;
}

.notion-toggle__trigger_icon{
    display: none !important;
}

.notion-toggle__content{
    padding: 0px 30px 20px 30px !important;
    background: var(--color-hover-default) !important;

}

.parent-page__index {

    .notion-column-list{
        width: 88% !important;
        margin: 0 auto !important;
    }

    .notion-divider{
        width: 80% !important;
        margin: 0 auto !important;
    }

    .notion-collection-table__cell.select{
        display: none !important;
    }

    .notion-text{
        width: 80% !important;
        margin: 0 auto !important;
    }

    h1.notion-heading{
        max-width: 100% !important;
    }
    .notion-heading{
        width: 80% !important;
        margin: 1.5rem auto !important;
        margin-bottom: 0.5rem !important;
    }

    .notion-collection-gallery{
        width: 80% !important;
        margin: 0 auto !important;
    }

    .notion-bulleted-list{
        width: 80% !important;
        margin: 0 auto;
        font-size: var(--font-size-1) !important;
        line-height: 1.7 !important;
        letter-spacing: 0.025rem !important;
        padding-inline-start: 23px !important;
        color: var(--color-paragraph-default) !important;
    }

    .notion-numbered-list{
        width: 80% !important;
        margin: 0 auto !important;
        font-size: var(--font-size-1) !important;
        line-height: 1.7 !important;
        letter-spacing: 0.025rem !important;
        color: var(--color-paragraph-default) !important;
    }

    .notion-code pre{
        width: 80% !important;
        margin: 0 auto !important;
    }

    .notion-callout.bg-gray-light{
        width: auto !important;
        border-radius: 20px !important;
        margin: 0 auto !important;
        left: 0 !important;
        .notion-callout__content{
            max-width: 90% !important;
            margin: 20px auto !important;
            width: 90% !important;
        }
    }

    .notion-collection-table__wrapper{
        width: 80% !important;
        margin: 0 auto !important;
    }
    
}

@media screen and (max-width:1480px){
     h2.notion-heading{
        font-size: var(--font-size-3) !important;
    }
}

@media screen and (max-width:1150px){
    .parent-page__index {

        .notion-text{
            width: 100% !important;
            margin: 0 auto !important;
        }
        .notion-heading{
            width: 100% !important;
        }

        .notion-collection-gallery{
        width: 100% !important;
        }

        .notion-bulleted-list{
            width: 100% !important;
        }

        .notion-numbered-list{
        width: 100% !important;
        }

        .notion-code pre{
            width: 100% !important;
        }

        .notion-collection-table__wrapper{
            width: 100% !important;
        }

        

        tbody.notion-collection-table__body {
            flex-direction: column !important;
        }

        .notion-collection-gallery.small{
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }

    
}

@media (max-width: 863px){
    .parent-page__index {
        .notion-collection-gallery.small{
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }
}