//home page

.super-content.max-width{
    margin: auto !important;
}

.max-width{
    max-width: 1280px !important;
}

.notion-collection__header{
    text-transform: uppercase !important;
    margin-top: 3rem !important;
    margin-bottom: 2rem !important;
}

//table
.notion-collection__header{
    margin: 0 auto !important;
}

thead.notion-collection-table__head{
    border: none !important;
}

tbody.notion-collection-table__body{
    display: flex !important;
    flex-direction: row !important;
    gap: 2rem !important;

}

.notion-collection-table{
    display: flex !important;
    justify-content: center !important;
    table-layout: unset !important;

    border-top: none !important;
    border-collapse: unset !important;
}

.notion-collection-table__wrapper{
    overflow: unset !important;
}

.notion-collection-table tr{
    /*display: table-cell !important;*/
    flex-basis: 100% !important;
    width: 20% !important;
    padding: 2rem !important;
    border-collapse: inherit !important;
    box-shadow: 0 0 0 1px var(--color-border-default) !important;
}

.notion-collection-table th{
    border: none !important;
}

.notion-collection-table td{
    border: none !important;
    display: flex !important;
    text-align: center !important;
}

.notion-collection-table td,
.notion-collection-table th{
    justify-content: center !important;
    height: auto !important;
    overflow: unset !important;
}

.notion-collection-table__head-cell{
    display: none !important;
}

.notion-collection-table__cell .notion-semantic-string{
    white-space: inherit !important;
    overflow: inherit !important;
}

.notion-collection-table__cell .file{
    width: 150px !important;
    height: 150px !important;
    
    img{
        border-radius: 5px !important;
    }
}

.notion-property.notion-property__file.property-63756178 a div{
    width: 150px !important;
    height: 150px !important;
}

element.style{
    width: 150px !important;
    height: 150px !important;
}